flake8==7.1.1
matplotlib==3.9.2
pandas==2.1.4
SQLAlchemy==1.4.49
sqlalchemy-redshift==0.8.14
streamlit==1.38.0
numpy==1.26.4
psycopg2-binary==2.9.9
python-dotenv==1.0.1
urllib3==1.26.16
requests==2.31.0


